Package: space.mekabrine.androidbar15
Name: AndroidBar 15
Version: 1.1.0-3
Architecture: iphoneos-arm64
Depends: mobilesubstrate, preferenceloader
Section: Tweaks
Maintainer: You
Author: You
Description: Android-style navbar for iOS 15 (with working Home/Switcher; Back toggle)
