Package: space.mekabrine.androidbar15
Name: AndroidBar15
Version: 1.0.0
Architecture: iphoneos-arm
Description: Android-style bottom bar. Buttons provide haptic feedback on tap. Rootless iOS 15.
Maintainer: Mekabrine
Author: Mekabrine
Section: Tweaks
Depends: firmware (>= 15.0), ellekit (>= 1.0)
