Package: space.mekabrine.androidbar15
Name: AndroidBar15
Version: 1.1.2
Architecture: iphoneos-arm64
Description: Android-style navigation bar for iOS 15 (Back/Home/Switcher), hides home bar & disables gestures.
Maintainer: Mekabrine
Author: Mekabrine
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 15.0), preferenceloader
Priority: optional
Homepage: https://github.com/yourname/AndroidBar15